name: "Lint PR"
run-name: ${{ github.event.pull_request.title }}

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review

permissions:
  pull-requests: read

jobs:

  lint_pr_title:
    name: Lint PR title
    if: '! github.event.pull_request.draft'
    runs-on: ubuntu-latest
    steps:
      - name: Lint PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ github.token }}